@model ProjectNA.Core.DTOs.Clothes.ShowCLothesListItemViewModel
<!-- col -->
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
    <article>
        <a href="/ShowClothes/@Model.CLothingId" class="img-layer"><img style="height: 150px" src="/Clothes/thumb/@Model.ImageName"></a>
        <h2><a href="">@Model.Title</a></h2>
    </article>
</div>
<!-- /col -->